<div class="card" style="width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title">Usuario <%= fullName %></h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Correo: <%= emailAddress %></li>
      <li class="list-group-item">Password: <%= password %></li>
   
    </ul>
  </div>