<%- include('../navbar.ejs') %>

    <ol class="breadcrumb">
    </ol>


    <h1 class="display-4">Añadir Producto</h1>

    <%if(msg){%>
        <%if(msg=='Producto creado'){%>
            <div class="alert alert-success" role="alert">
                <h3>
                    <%- msg%>
                </h3>
            </div>
            <%}else{%>
                <div class="alert alert-danger" role="alert">
                    <h3>
                        <%- msg%>
                    </h3>
                </div>
                <%}%>
                    <%}%>


                        <form method="post" action="/products/add">
                            <div class="form-group mx-auto">
                                <label for="title">Nombre del producto.</label>
                                <input type="text" name="name" class="form-control" required></input>
                            </div>
                            <div class="form-group">
                                <label for="title">Imagen (TO DO)</label>
                                <input type="text" name="image" class="form-control" required></input>
                            </div>
                            <div class="form-group">
                                <label for="body">Descripción del producto.</label>
                                <input name="description" class="form-control" required></input>
                            </div>
                            <div class="form-group">
                                <label for="body">Precio.</label>
                                <input name="price" class="form-control" type="number" required></input>
                            </div>
                            <div class="form-group">
                                <label for="body">Stock.</label>
                                <input name="stock" class="form-control" type="number" required></input>
                            </div>
                            <div class="form-group">
                                <label for="body">Talla.</label>
                                <input name="size" class="form-control" required></input>
                            </div>
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </form>