<%- include('navBar.ejs') %>

<div class="contenedorTitulo">
  <img src="/images/Logo_Black-02.png" class="img-fluid" alt="Responsive image">
</div>


<section class="grid-1">
    <div class="item-1">1</div>
    
    <div class="item-2">
      <div class="item-5">5</div>
      <div class="item-6">6</div>
      <div class="item-7">7</div>
    </div>
    
    <div class="item-3">3</div>
  </section>