<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
  <a style="cursor: pointer;" class="navbar-brand mr-0" href="/dashboard"><img style="height: 60px; width:200px; "
      class="logo" alt="logo" src="/images/Logo_Gradient-03.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="dropdown">
      <button class="btn btn-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Usuarios
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/users/showAdd">A単adir Usuario</a></li>
        <li><a class="dropdown-item" href="/users/listUsers">Lista Usuarios</a></li>
      </ul>
    </div>
    <ul></ul>

    <div class="dropdown">
      <button class="btn btn-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Productos
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/products/show-create-product">A単adir Producto</a></li>
        <li><a class="dropdown-item" href="/products/list-products">Lista Productos</a></li>
      </ul>
    </div>
    <ul></ul>

    <div class="dropdown">
      <button class="btn btn-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Pedidos
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/orders/list-orders">Ver lista de pedidos</a></li>
      </ul>
    </div>
    <ul></ul>

    <div class="dropdown">
      <button class="btn btn-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Proveedores
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/suppliers/show-create-suppliers">A単adir proveedores</a></li>
        <li><a class="dropdown-item" href="/suppliers/list-suppliers">Ver lista de proveedores</a></li>
      </ul>
    </div>
    <ul></ul>

    <div class="dropdown">
      <button class="btn btn-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Pedidos a proveedores
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/supply-orders/show-create-supply-order">A単adir pedido al proveedor</a></li>
        <li><a class="dropdown-item" href="/supply-orders/list-supply-orders">Ver lista de pedidos a proveedores</a></li>
      </ul>
    </div>
    <ul></ul>

</nav>