<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/dashboard">NoStudio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="dropdown">
        <button class="btn btn-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Usuarios
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/users/listUsers">Lista Usuarios</a></li>
          <li><a class="dropdown-item" href="/users/showAdd">Añadir Usuario</a></li>
        </ul>
      </div>
      <ul></ul>
    
        <div class="dropdown">
          <button class="btn btn-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/products/list-products">Lista Productos</a></li>
            <li><a class="dropdown-item" href="/products/show-create-product">Añadir Producto</a></li>
            <li><a class="dropdown-item" href="#">Publicar Producto</a></li>
            <li><a class="dropdown-item" href="#">Añadir categoria</a></li>
          </ul>
        </div>
        <ul></ul>

      <div class="dropdown">
        <button class="btn btn-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Proveedores
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Lista Proveedor</a></li>
          <li><a class="dropdown-item" href="#">Añadir Proveedor</a></li>
          <li><a class="dropdown-item" href="#">Pedidos hechos al Proveedor</a></li>
        </ul>
      </div>
      <ul></ul>
  
    <div class="dropdown">
      <button class="btn btn-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Empleados
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Añadir empleado</a></li>
        <li><a class="dropdown-item" href="#">Editar empleado</a></li>
        <li><a class="dropdown-item" href="#">Borrar empleado</a></li>
      </ul>
    </div>
    <ul></ul>

  <div class="dropdown">
    <button class="btn btn-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Pedidos
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Cancelar pedido</a></li>
      <li><a class="dropdown-item" href="#">Ver informacion de pedido</a></li>
      <li><a class="dropdown-item" href="#">Ver lista de pedidos</a></li>
      <li><a class="dropdown-item" href="#">Modificar estado de pedido</a></li>
    </ul>
  </div>

  </nav>


